[mysqld]
# Disable the general query log to avoid high disk I/O and slowdowns in dev / docker environments
# general_log = 1
# general_log_file = /var/lib/mysql/general.log

# Enable only if you actively need to debug slow queries, otherwise keep turned off for performance
general_log = 0
max_allowed_packet = 200M
skip-name-resolve
